mixin radio-button(options)
  if(!options)
    - options = {}
  if(!options.text)
    - options.text = "It's a radio-button"
  -
    let text = "radio-button text"
    let form = "parrent form"
    let nameRadioBtn = "name-radio-button"
    let valueRadioBtn = "value-radio-button"

  label(class="radio-button")
    input(
      type="radio" 
      class="radio-button__input"
      form=options.form
      name=options.nameRadioBtn
      value=options.valueRadioBtn
    )
    span(class="radio-button__btn") 
    span(class="radio-button__text")= options.text