mixin input-text-field(options)
  if(!options)
    - options = {}
  if(!options.type)
    - options.type = "text"
  -
    let header = "header"
    let placeholder = "placeholder"
    let name = "name"
    let mode = "modifier"
    let type = "type of input"
    let form = "form of input"
    let label = "text of label input"

  if(!options.placeholder)
    - options.placeholder = "Input text"

  div(class="input-text-field")
    if(options.header !== undefined)
      h3(class="input-text-field__header")=options.header

    if options.mode !== 'subscribe'
      label(class="input-text-field__label")=options.header || options.label || 'text field'

        case options.mode
          when 'masked'
            input(class="input-text-field__input input-text-field__input_masked js-input-text-field__input_masked" type=options.type placeholder=options.placeholder name=options.name form=options.form)

          default
            input(class="input-text-field__input" type=options.type placeholder=options.placeholder name=options.name value=options.value form=options.form required)
    else
      div(class="input-text-field__subscribe-wrapper")
        label(class="input-text-field__label")=options.header || options.label || 'text field'
          input(class="input-text-field__input input-text-field__input_subscribe" type="email" placeholder=options.placeholder name=options.name form=options.form required)
        button(class="input-text-field__button" form=options.form type="submit")